---
import Layout from "../layouts/Layout.astro";
import ArrowRight from "../components/icons/ArrowRight.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Project from "../components/Project.astro";
import { PROJECTS } from "../data/projects";
import SkillsElement from "../components/SkillsElement.astro";
import Hero from "../components/Hero.astro";
---

<Layout
  title="Portfolio de Andy Vargas - Desarrollador y Programador Web"
  description="Soy Andy Vargas, estudiante de Computación e Informática, con habilidades en el desarrollo web. Me motiva seguir aprendiendo y perfeccionándome en mi carrera, y en mi tiempo libre disfruto explorando nuevas tecnologías y creando proyectos personales que desafíen mis habilidades."
>
  <main class="mt-[120px]">
    <Hero />

    <SectionContainer id="proyectos">
      <h2 class="flex text-[#4A4A4A] mb-5 dark:text-[#CDCDCD]">
        <ArrowRight />
        Últimos proyectos
      </h2>
      <div class="flex flex-col gap-14">
        {PROJECTS.map((project) => <Project {...project} />)}
      </div>
    </SectionContainer>

    <SectionContainer id="tecnologias">
      <h2 class="flex text-[#4A4A4A] mb-5 mt-5 dark:text-[#CDCDCD]">
        <ArrowRight />
        Tecnologías
      </h2>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <SkillsElement class="grid-cols-4 gap-7" category="FRONTEND" />
        <SkillsElement class="grid-cols-4 gap-7" category="BACKEND" />
        <SkillsElement class="md:col-span-2 grid-rows-2" category="TOOLS" />
      </div>
    </SectionContainer>
  </main>
</Layout>
