---
import { REDES } from "../data/redes";
import WorldIcon from "./icons/WorldIcon.astro";
import SectionContainer from "./SectionContainer.astro";
import SocialPill from "./SocialPill.astro";
---

<SectionContainer id="sobre-mi" class="md:flex-row gap-5 md:gap-7">
  <img
    src="https://media.licdn.com/dms/image/D4E03AQEr4LCuKse46A/profile-displayphoto-shrink_800_800/0/1718298278226?e=1727308800&v=beta&t=9MnkW4HaTGg3d_9GeZfIMXgK495sqiVwKYw93LTNYTk"
    class="w-[246px] h-[246px] rounded-full mx-auto"
  />
  <article class="flex flex-col gap-5 md:gap-3 justify-between">
    <h1
      class="text-2xl font-extrabold text-center md:text-start dark:text-white"
    >
      ¡Hola! Soy Andy Vargas
    </h1>
    <p
      class="text-[#4A4A4A] text-pretty text-sm lg:text-base md:text-start text-center dark:text-[#CDCDCD]"
    >
      Estudiante de <span class="font-semibold"
        >Computación e Informática</span
      >, con habilidades en el
      <span class="font-semibold">desarrollo web</span>. Me motiva seguir
      aprendiendo y perfeccionándome en mi carrera, y en mi tiempo libre
      disfruto explorando <span class="font-semibold"
        >nuevas tecnologías</span
      > y creando proyectos personales que desafíen mis habilidades.
    </p>
    <span
      class="flex gap-1 items-center text-sm md:mx-0 mx-auto dark:text-[#CDCDCD]"
    >
      <WorldIcon class="size-4" />Lima, Perú, UTC
    </span>
    <nav id="redes" class="flex gap-4 md:justify-start justify-center">
      {
        REDES.map((red) => (
          <SocialPill href={red.link}>
            <red.icon class="size-5 text-[#4A4A4A] dark:text-[#FFFFFF]" />
            {red.label}
          </SocialPill>
        ))
      }
    </nav>
  </article>
</SectionContainer>