<a {...Astro.props} target="_blank" class="flex gap-2 text-xs lg:text-sm bg-[#393939] border border-[#6A6A6A] px-3 py-2 rounded-lg items-center justify-center text-white hover:bg-black hover:scale-110 transition-all">
  <slot />
</a>