<a
  {...Astro.props}
  class="flex gap-2 text-xs sm:text-sm lg:text-base items-center bg-[#EBEBEB] px-2 py-2 sm:px-4 sm:py-2 rounded-md hover:scale-105 hover:bg-[#dadada] transition-transform dark:bg-[#666666] dark:text-white text-[#656565]"
  target="_blank"
>
  <slot />
</a>
